@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: #06080d !important;
    padding: 0;
    margin: 0;
}

.games {
    padding: 35px 10px;
    text-align: center;
    background: linear-gradient(180deg, #06080d, #0f1520);
}

.games h2 {
    color: #fff;
    text-shadow: 3px 3px 2px #3B4CCA;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0 10px;
}

.game-carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    border: 3px solid #4a8b8b;
    border-radius: 15px;
    padding: 15px;
}

.carousel-track {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none;
}

.carousel-track::-webkit-scrollbar {
    display: none;
}

.carousel-item-card {
    min-width: 280px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #101c27;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    transition: transform .3s ease;
}

.carousel-item-card img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.carousel-item-card span {
    display: block;
    font-size: 14px;
    color: #fff;
    margin: 8px 0;
}

.carousel-item-card:hover {
    transform: scale(1.03);
    z-index: 3;
}

.carousel-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    border: none;
    background: transparent;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    opacity: .25;
    transition: .3s ease;
    z-index: 10;
}

.carousel-btn:hover {
    opacity: 1;
    background: rgba(0, 0, 0, .3);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.carousel-fade {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 5;
    pointer-events: none;
}

.fade-left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85), transparent);
}

.fade-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.85), transparent);
}